.text {
    float: left;
    width: 70%; /* Ajusta el ancho del texto según sea necesario */
}

.image {
    float: right;
    width: 30%; /* Ajusta el ancho de la imagen según sea necesario */
}

img{
    width: 1000px;
    height: auto;
}