body{
    background-image: url(../Imagenes/ImagenesIndex/Index2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    font-size: 28px;
}

.Navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.ImageNavegador {
    height: 70px;
    margin-left: 15px;
    margin-right: auto;
}

.BarraNavegacion {
    list-style: none;
    display: flex;
    font-size: 15px;
}

.BarraNavegacion a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
}

.Inicio{
    font-weight: bold;
    font-size: 17px;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 60px;
    margin: 0;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white
}

h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 35px;
    margin: 0;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white
}

.oja {
    background-color: white;
}

h3 {
    color: black;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 30px;
}

.Conocenos {
    display: flex; 
}

.sConocenos {
    flex: 70%;
    padding-left: 70px;
    font-size: 25px;
}

.aConocenos {
    flex: 30%;
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 10px;
}

.aConocenos img {
    width: 600px; 
    height: auto;
    border-radius: 20px;
}

.separacion {
    background-image: url(../Imagenes/ImagenesIndex/Separacion.png);
    border-radius: 40px;
    height: 70px;
    margin: 50px 100px;
}

h4 {
    color: black;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 30px;
}

.CompYAlqu {
    display: flex; 
}

.sCompYAlqu {
    flex: 50%;
    margin-left: 500px;
}

.sCompYAlqu img {
    width: 215px;
    height: auto;
}

.aCompYAlqu {
    flex: 50%;
    margin-left: 500px;
}

.aCompYAlqu img {
    width: 215px;
    height: auto;
}

.BCompYAlqu {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, darkgrey, black);
    margin-left: 50px;
    font-size: 20px;
}
.BCompYAlqu a{
    text-decoration: none;
    color: white;
}

h5 {
    color: black;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 30px;
}

.NuesEmpresa img {
    float: left;
    width: 650px; 
    height: 450px;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 50px;
}
.NuesEmpresa p {
    margin-left: 5px;
}

.Suscribete {
    text-align: center;
}

.CorrYEnviar {
    text-align: center;
}

.Correo {
    width: 320px;
    height: 50px;
    border-radius: 10px;
    background-color: grey;
    font-size: 30px;
    color: black;
}
.Correo::placeholder{
    color: dimgrey;
}

.Enviar {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, darkgrey, black);
    margin-left: 50px;
    font-size: 20px;
}

.Enviar a{
    text-decoration: none;
    color: white;
}






footer {
    background-image: url(../Imagenes/ImagenesIndex/Separacion.png);
}